:root {

  /* solarized colors */

  --col-base03: #002b36;
  --col-base02: #073642;
  --col-base01: #586e75;
  --col-base00: #657b83;
  --col-base0: #839496;
  --col-base1: #93a1a1;
  --col-base2: #eee8d5;
  --col-base3: #fdf6e3;
  --col-yellow: #b58900;
  --col-orange: #cb4b16;
  --col-red: #dc322f;
  --col-magenta: #d33682;
  --col-violet: #6c71c4;
  --col-blue: #268bd2;
  --col-cyan: #2aa198;
  --col-green: #859900;

  --col-extra01: #ded9ca;

  /* sn-stylekit */

  --sn-stylekit-menu-border: none;
  --sn-stylekit-general-border-radius: 2px;

  --sn-stylekit-neutral-color: var(--col-base1);
  --sn-stylekit-neutral-contrast-color: #ffffff;

  --sn-stylekit-info-color: var(--col-blue);
  --sn-stylekit-info-color-darkened: #065cb5;
  --sn-stylekit-info-contrast-color: #ffffff;
  --sn-stylekit-info-backdrop-color: #2b6fcf0f;

  --sn-stylekit-success-color: var(--col-green);
  --sn-stylekit-success-contrast-color: #ffffff;

  --sn-stylekit-warning-color: var(--col-yellow);
  --sn-stylekit-warning-contrast-color: #ffffff;

  --sn-stylekit-danger-color: var(--col-red);
  --sn-stylekit-danger-contrast-color: #ffffff;
  --sn-stylekit-danger-light-color: #f9e4e5;

  --sn-stylekit-shadow-color: #c8c8c8;
  --sn-stylekit-background-color: var(--col-base3);

  /* For borders inside background-color */
  --sn-stylekit-border-color: var(--col-extra01);
  --sn-stylekit-foreground-color: var(--col-base00);

  /* Colors for layers placed on top of non-prefixed background, border, and foreground */
  --sn-stylekit-contrast-background-color: var(--col-base2);
  --sn-stylekit-contrast-foreground-color: var(--col-base01);
  /* For borders inside contrast-background-color */
  --sn-stylekit-contrast-border-color: var(--col-extra01);

  /* Alternative set of background and contrast options */
  --sn-stylekit-secondary-background-color:var(--col-base2);
  --sn-stylekit-secondary-foreground-color: var(--col-base01);
  --sn-stylekit-secondary-border-color: var(--col-extra01);

  --sn-stylekit-secondary-contrast-background-color: var(--col-base2);
  --sn-stylekit-secondary-contrast-foreground-color: var(--col-base01);
  --sn-styleki--secondary-contrast-border-color: var(--col-base1);

  --sn-stylekit-editor-background-color: var(--sn-stylekit-background-color);
  --sn-stylekit-editor-foreground-color: var(--sn-stylekit-foreground-color);

  --sn-stylekit-paragraph-text-color: var(--sn-stylekit-foreground-color);

  --sn-stylekit-input-placeholder-color: var(--col-base0);
  --sn-stylekit-input-border-color: var(--col-base2);

  --sn-stylekit-scrollbar-thumb-color: var(--col-extra01);
  --sn-stylekit-scrollbar-track-border-color: #ede9d9;

  --sn-stylekit-theme-type: light;
  --sn-stylekit-theme-name: sn-light;

  --sn-stylekit-accessory-tint-color-1: var(--col-blue);
  --sn-stylekit-accessory-tint-color-2: var(--col-magenta);
  --sn-stylekit-accessory-tint-color-3: var(--col-yellow);
  --sn-stylekit-accessory-tint-color-4: var(--col-violet);
  --sn-stylekit-accessory-tint-color-5: var(--col-cyan);
  --sn-stylekit-accessory-tint-color-6: var(--col-orange);

  /* additional tweaks */

  --navigation-item-selected-background-color: var(--col-extra01);

  .content-list-item {
    color: var(--sn-stylekit-foreground-color);
  }

}
